body {
  margin: 0;
  background: skyblue;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto 80%;
}
.canvas {
  position: relative;
}
@media (orientation: portrait) {
  body {
    background-size: 80% auto;
  }
}
